@import '~reset-css/reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  background-color: $default-white;
}

a:link,
a:visited {
  text-decoration: none;
  color: $default-white;
}
