.input {
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 70%;
  margin-left: 10px;
  input {
    height: 35px;
    margin-top: 15px;
    border: 0;
    border-bottom: 1px solid;
    font-size: 20px;
    &::placeholder {
      color: gray;
    }
  }

  .public {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  height: 15%;
}
