.tag {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $default-white;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 0px 10px;
  font-size: 14px;
}
