@mixin loginBox($type) {
  width: 270px;
  height: 50px;
  margin-top: 30px;
  border: 0;
  @if $type == input {
    &::placeholder {
      padding-left: 15px;
      font-size: 15px;
    }
  }
}

@mixin postInfoBox {
  width: 100px;
  height: 25px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 15px;
  border: 1px solid $default-border;
  &::placeholder {
    font-size: 15px;
  }
}

@mixin editor {
  display: flex;
  flex-direction: column;
  width: 50vw;
  //height: 100vh;
}

@mixin editorInput {
  height: 60px;
  background-color: $editor-black;
  color: $editor-font;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin editorInputBox {
  height: 40px;
  width: 98%;
  border: 0;
  font-size: 20px;
  background-color: inherit;
  color: $editor-font;
  ::placeholder {
    color: $editor-font;
    font-size: 20px;
  }
}
