@mixin loginBox($type) {
  width: 270px;
  height: 50px;
  margin-top: 30px;
  border: 0;
  @if $type == input {
    &::placeholder {
      padding-left: 15px;
      font-size: 15px;
    }
  }
}

@mixin postInfoBox {
  width: 100px;
  height: 25px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 15px;
  border: 1px solid $default-border;
  &::placeholder {
    font-size: 15px;
  }
}
