.postFrame {
  width: 39.3125rem;
  height: 29.6875rem;
  //border: 1px solid black;
  box-shadow: 1px 1px 1px 1px #cecece;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 3.125rem;
  .thumbnail {
    width: 100%;
    object-fit: cover;
    height: 18.4375rem;
    &:hover {
      opacity: 0.9;
    }
  }
  .title {
    display: flex;
    align-items: center;
    font-size: 1.625rem;
    font-weight: 600;
    margin-left: 0.5rem;
    height: 3.125rem;
  }
  .subTitle {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    color: $subtitle;
    height: 1.875rem;
  }
  .footer {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.25rem;
    color: $subtitle;
    font-size: 0.9375rem;
    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 0.625rem;
      .userName {
        padding-bottom: 0.3125rem;
      }
      .createdAt {
        padding-top: 0.3125rem;
      }
    }
    .profileImage {
      width: 3.375rem;
      height: 3.375rem;
      border-radius: 1.875rem;
    }
  }
}
