.leftMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: $left-size;
  background-color: $default-black;
  height: 100%;
  .title {
    height: 160px;
    color: $default-white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    font-weight: 600;
  }

  .menuNav {
    margin-top: 2rem;
    .menuList {
      color: $default-white;
      line-height: 2em;
      margin-left: 4rem;
      font-size: 25px;
    }
  }
}
