.header {
  top: 0;
  position: fixed;
  width: 100%;
  height: 3.125rem;
  background-color: #764abc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 1;

  span {
    font-size: 1rem;
    padding-left: 1.25rem;
    cursor: pointer;
    color: white;
  }
  div {
    padding-right: 1.25rem;
    display: inherit;
    align-items: center;
  }
  .title {
    font-weight: 600;
    font-size: $user-header;
  }

  .icon {
    padding-left: 1.25rem;
  }
}
