.wrap {
  display: flex;
  .editor {
    @include editor;
    height: 100vh;
    .title {
      @include editorInput();
      .input {
        @include editorInputBox();
      }
    }
    .inputTag {
      @include editorInput();
      .input {
        @include editorInputBox();
      }
    }
  }

  .preview {
    @include editor;
    background-color: white;
    .header {
      height: 60px;
      background-color: $editor-black;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .isPublic {
        color: $default-white;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        span {
          margin: 0 0.5rem;
        }
      }
    }
    .content {
      flex: auto;
      //margin: 1.5rem;
      box-sizing: border-box;
      padding: 1.5rem;
      overflow-y: auto;
      max-height: calc(100vh - 60px);
    }
    .footer {
      height: 60px;
      display: flex;
      justify-content: center;
      .tags {
        width: 98%;
        border-top: 1px solid $default-border;
        display: flex;
        align-items: center;
      }
    }
  }
}
